webapi/obj/**
webapi/obj/Debug/net7.0/webapi.AssemblyInfo.cs
webapi/obj/Debug/net7.0/webapi.AssemblyInfoInputs.cache
*.suo
*.user
_ReSharper.*
bin
obj
packages
webapi/obj/Debug/net7.0/webapi.GeneratedMSBuildEditorConfig.editorconfig
*.cache
*.vs
.vs/*
.vs*
*.vsidx
*.vsidx
webapi/obj
webapi\obj
*.vsidx
*.cache
*.editorconfig
